<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hogent.ti3g05.ti3_g05_joetzapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".MainScreen"
            android:label="@string/title_activity_main_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InschrijvenActivity"
            android:label="@string/title_activity_inschrijven" >
        </activity>
        <activity
            android:name=".activiteit_detail"
            android:label="@string/title_activity_activiteit_detail" >
        </activity>
        <activity
            android:name=".activiteit_overzicht"
            android:label="@string/title_activity_activiteit_overzicht" >
        </activity>
        <activity
            android:name=".profiel_detail"
            android:label="@string/title_activity_profiel_detail" >
        </activity>
        <activity
            android:name=".profiel_edit"
            android:label="@string/title_activity_profiel_edit" >
        </activity>
    </application>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
